.navbar-brand {
    font-family: 'Zhi Mang Xing', cursive;
}
.carousel-item{
    height: 70vh;
}
.img-box {
    width: 550px;
}
.pic-1{
    width: 100%;
}
.slide-one {
    background: #e9f0f7;
}
.row .carousel-item{
    margin: 12% 0;
}
.carousel-item h1{
    margin-top: 40px;
    font-weight: bold;
    color: #28a745;
}
.carousel-item p{
    margin: 30px 0 50px; 
    color: black;
    font-size: 15px;
    
}
.carousel-item button{
    padding: 8px 20px;
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 15px;


}
.slide-two{
    background: #f7f7f7;
}
.slide-two h1, .slide-two p {
    color: #feb154;
    
}
.img-one {
    width: 100%;
}
.slide-two button{
    background: linear-gradient(to right, #feb154, #ffd255);
}
/*Service component */
#service{
    padding-top: 20px;
}
.service-container {
    padding-top: 20px;
    margin: 10px;
    height: 10px;
}

.service-1, .service-2, .service-3 {
    width: 30%;

    
}
.ser1 {
    display: flex;
    align-items: center;
}
.box {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px #888888
  }
  .box .text h4 {
    letter-spacing: -1.5px;
  }
  .box .icon {
        float: left;
        margin-bottom: 20px;
        background: rgb(254,177,84);
        border-radius: 50%;
        padding: 10px;
    }
  
  .box .icon {
    float: left;
    margin-bottom: 20px;
  }
  
  .box .text {
    margin-left: 50px;
  }
  .box .text
  /*Testimonials*/
 .testimonial_subtitle{
     color: #0aaa7a;
     font-size: 12px;
 }
   .testimonial_btn{
     background-color: #373d4b !important;
     color: #fff !important;
  }
  .seprator {
     height: 2px;
     width: 56px;
     background-color: #0aaa7a;
     margin: 7px 0 10px 0;
 }
 /*Footer*/
 footer {
    padding: 50px 0 0 0;
    color: #bbb;
    background: #222;
  }
  footer a {
    color: #eee;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: none;
  }
  
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #eee;
  }
  
  footer .footer_logo {
    margin-bottom: 20px;
  }
  
  footer .footer_logo h3 {
    color: #fdfdfd;
    letter-spacing: -1px;
    font-size: 2.2em;
    font-weight: 900;
    margin: 0;
  }
  footer .footer_logo h3 a {
    color: #fdfdfd;
  }
  
  footer .footer_logo h3 a:hover {
    text-decoration: none;
  }
  
  footer address {
    line-height: 1.6em;
  }  

  footer h5.widgetheading {
    text-transform: none;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  
  footer .widget i {
    color: #bbb;
  }
  footer h5 a:hover, footer a:hover {
    text-decoration: none;
  }
  
  #sub-footer {
    background: #111;
    text-shadow: none;
    color: #ddd;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
    -webkit-box-shadow: 0 -4px 4px -2px #222;
    -moz-box-shadow: 0 -4px 4px -2px #222;
    box-shadow: 0 -4px 4px -2px #222;
  }
  
  #sub-footer p {
    margin: 0;
    padding: 0;
  }
  
  #sub-footer span {
    color: #c7c7c7;
  }
  
  .copyright p {
    text-align: left;
    font-size: 13px;
  }
  
  .credits {
    text-align: right;
    font-size: 13px;
  }
  
  #sub-footer ul.social-network {
    float: right;
  }