.navbar-brand {
    font-family: 'Zhi Mang Xing', cursive;
}
.carousel-item{
    height: 70vh;
}
.img-box {
    width: 550px;
}
.pic-1{
    width: 100%;
}
.slide-one {
    background: #b0c6f5;
}
.row .carousel-item{
    margin: 12% 0;
}
.carousel-item h1{
    margin-top: 40px;
    font-weight: bold;
    color: #28a745;
}
.carousel-item p{
    margin: 30px 0 50px; 
    color: black;
    font-size: 15px;
    
}
.carousel-item button{
    padding: 8px 20px;
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 15px;


}
.slide-two{
    background: #f7f7f7;
}
.slide-two h1, .slide-two p {
    color: #feb154;
    
}
.img-one {
    width: 100%;
}
.slide-two button{
    background: linear-gradient(to right, #feb154, #ffd255);
}
/*Service component */
.service-container {
    margin: 10px;
    height: 10px;
}

.service-1, .service-2, .service-3 {
    width: 30%;

    
}
.ser1 {
    display: flex;
    align-items: center;
}
/*.ser1, .ser2, .ser3{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    
}*/
.box {
    width: 100%;
  }
  .box .text h4 {
    letter-spacing: -1.5px;
  }
  .box .icon {
    float: left;
    margin-bottom: 20px;
  }
  .box .icon {
    float: left;
    margin-bottom: 20px;
  }
  
  .box .text {
    margin-left: 100px;
  }

  /*Testimonials*/
 .testimonial_subtitle{
     color: #0aaa7a;
     font-size: 12px;
 }
   .testimonial_btn{
     background-color: #373d4b !important;
     color: #fff !important;
  }
  .seprator {
     height: 2px;
     width: 56px;
     background-color: #0aaa7a;
     margin: 7px 0 10px 0;
 }