body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6em;
  color: #656565;
  
}
*{
  box-sizing: border-box;
}
.navbar-brand {
    font-family: 'Zhi Mang Xing', cursive;
}
.carousel-item{
    height: 70vh;
}
.img-box {
    width: 550px;
}
.pic-1{
    width: 100%;
}
.slide-one {
    background: #e9f0f7;
}
.row {
    margin-top: 25px;
}
.row .carousel-item{
    margin: 12% 0;
}
.carousel-item h1{
    margin-top: 40px;
    font-weight: bold;
    color: #28a745;
}
.carousel-item p{
    margin: 30px 0 50px; 
    color: black;
    font-size: 15px;
    
}
.carousel-item button{
    padding: 8px 20px;
    border: 0;
    outline: none;
    border-radius: 20px;
    font-size: 15px;


}
.slide-two{
    background: #f7f7f7;
}
.slide-two h1, .slide-two p {
    color: #feb154;
    
}
.img-one {
    width: 100%;
}
.slide-two button{
    background: linear-gradient(to right, #feb154, #ffd255);
}
/*Service component */

.service-container {
    padding-top: 20px;
    margin: 10px;
    height: 10px;
}

.service-1, .service-2, .service-3 {
    width: 30%;

    
}
.ser1 {
    display: flex;
    align-items: center;
}
.box {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px #888888
  }
  .box .text h4 {
    letter-spacing: -1.5px;
  }
  .box .icon {
        float: left;
        margin-bottom: 20px;
        background: rgb(254,177,84);
        border-radius: 50%;
        padding: 10px;
    }
  
  .box .icon {
    float: left;
    margin-bottom: 20px;
  }
  
  .box .text {
    margin-left: 50px;
  }
/*Price Section */
.pricing-box-wrap {
    border: 1px solid #e6e6e6;
    background: #e8edf2;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
}
.pricing-box-wrap .pricing-heading{
  background: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0 30px 0;
    display: block;
}
.pricing-box-wrap .pricing-heading h3{
  font-size: 32px;
    font-weight: 300;
    letter-spacing: -1px
}
.pricing-terms{
      text-align: center; 
      background: #464646;
      display: block;
      overflow: hidden;
      padding: 30px 0 20px;
      color: honeydew;
  }
  .pricing-box-wrap .pricing-content{
    background: #fff;
    text-align: center;
    font-size: 14px;
}
.pricing-content ul{
  list-style: none;
}
.pricing-content ul li{
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 20px 20px 10px;
  margin: 0 0 0 0;
}
/*.pricing-action {
    margin: 0;
    background: #464646;
    text-align: center;
    padding: 30px 0 30px 0;
}

a .bground {
  background: red;
}*/



  /*Testimonials*/
 .testimonial_subtitle{
     color: #0aaa7a;
     font-size: 12px;
 }
   .testimonial_btn{
     background-color: #373d4b !important;
     color: #fff !important;
  }
  .carousel-inner{
    padding-bottom: -100px !important;
  }
  
 .wait{
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: 150px;
 }
 .carousel {
  position: relative;
  padding: 10px 0 10px 0;
}
.testi {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid red !important;
  border-radius: .25rem;
  max-width: 100%;
  height: 150px !important;
}
div.testi-cap {
 
  right: 8%;
  bottom: 100px ;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000 !important;
  text-align: center ;
}
.carousel-item {
  margin-bottom: -90px !important;
}
 /*Footer*/
 footer .link-list{
  margin: 0;
  padding: 2px 0 2px 0;
  list-style: none
 }
 .widgetheading {
  text-transform: none;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
 
 footer {
    padding: 50px 0 0 0;
    color: #bbb;
    background: #222;
  }

  address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}
  footer a {
    color: #eee;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: none;
  }
  
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #eee;
  }
  
  
  footer address {
    line-height: 1.6em;
  }  

  footer h5.widgetheading {
    text-transform: none;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
  }
  
  footer .widget i {
    color: #bbb;
  }
  footer h5 a:hover, footer a:hover {
    text-decoration: none;
  }
  
  #sub-footer {
    background: #111;
    text-shadow: none;
    color: #ddd;
    padding: 0;
    padding-top: 30px;
    margin: 20px 0 0 0;
    -webkit-box-shadow: 0 -4px 4px -2px #222;
    -moz-box-shadow: 0 -4px 4px -2px #222;
    box-shadow: 0 -4px 4px -2px #222;
  }
  
  #sub-footer p {
    margin: 0;
    padding: 0;
  }
  
  #sub-footer span {
    color: #c7c7c7;
  }
  
  .copyright p {
    text-align: left;
    font-size: 13px;
  }
 
  #sub-footer ul.social-network {
    float: right;
  }
  .footbtn {
    background: red !important;
    color: #fff;
  }